:root{
    --buttonColor: #d2d5d9;
    --buttonShadow: rgba(122, 122, 122, 0.76) 0px 5px 5px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --cardShadow:rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
    --colorDivShadow:rgba(99, 99, 99, 0.2) 1px 2px 3px 2px;
    --headerColor: #FFFFFF;
    --headerShadow: rgb(115, 90, 122) 2px 2px 8px 0px;
    --lineShadow:rgba(158, 154, 154, 0.2) 0px 2px 0px 0px;
}

*{
    box-sizing: border-box;
    font-family: 'Brush Script MT';;
    margin: 0;
    padding: 0;
}

#body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    background-image: linear-gradient(#3c1053, #ad5389);
    box-shadow: var(--headerShadow);
    color: var(--headerColor);
    font-size: 20px;
    height: auto;
    padding: 15px;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.header h3{
    font-size: 70px;
    text-shadow: 1px 1px var(--headerColor) ;
}


.header h4{
    margin: 2px 5px 0 0;
}


#cards-container{
    align-self: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    padding: 1%;
    width: inherit;
    gap: 10px;
    justify-content:center;
}

.flip-card{
    background-color: transparent;
    border-radius: 10px ;
    border: transparent solid 1px;
    display: flex;
    flex-direction: column;
    margin: 1%;
    perspective: 1000px;
    position: relative;
    transition: transform 0.9s;
}

.card-inner{
    background-color: transparent;
    border-radius: 15px;
    box-shadow: var(--cardShadow);
    height: 100%;
    transform-style:preserve-3d;
    transition: transform 0.9s;
    width: 100%;
}


.card{
    backface-visibility: hidden;
    border-radius: 10px ;
    border: white solid 1px;
    box-shadow: var(--cardShadow);
    transform-style: preserve-3d;
    transition: all 1.0s ease;
}

.color{
    border-radius: 10px 10px 0px 0px;
    box-shadow: var(--colorDivShadow);
    height: 400px;
    width: inherit;
}


button{
    background-color: var(--buttonColor);
    border-radius: 10px;
    border: 0;
    box-shadow: #5e5df0 0 10px 20px -10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    outline: 0 solid transparent;
    padding: 10px;
    transition: 0.5s;
    width: 100%;
    word-break: break-word;
}

button:hover{
    box-shadow: var(--buttonShadow)
}
.flip-card .card-inner .card .text{
    box-shadow: var(--lineShadowColor);
    font-size: 1em;
    height: 110px;
    padding: 20px;
    text-overflow: ellipsis;
}

.content {
    margin-top: 10px;
}

.text-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
}

.buttonDiv{
    padding : 15px;
}

#errorDiv{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 10%;
        text-align: center;
    }


@media only screen and (max-width:500px){
    
    .header h3{
        font-size: 40px;
    }
    .header h4{
        font-size: 15px;
    }
}